<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akkarapon-portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/content_about.css">
    <link rel="stylesheet" href="/css/content_skill.css"> 
    <link rel="stylesheet" href="/css/content_work.css">
</head>
<body>
    <div class="con" id="top-sentinel">
        <a href="mailto:akkarapon2ki@gmail.com"><img src="/image/gmail.png"></a>
        <a href="tel:0647507253"><img src="/image/phone.png" alt=""></a>
        <a href="https://www.facebook.com/akkarapon.kittipat"><img src="/image/facebook.png" alt=""></a>
        <a href="https://line.me/ti/p/c1fc7g7wyf"><img src="/image/line.png" alt=""></a>
    </div>
    <nav>
            <div class="navbar">
                <a class="nav-item active" href="#about">เกี่ยวกับผม</a>
                <a class="nav-item" href="#skill">ความสามารถ</a>
                <a class="nav-item" href="#work">ผลงาน</a>
            </div>
            
        </nav>
    <div class="div1">
        
        <div class="div2">
            <div class="title" id="about">
                <div class="about">
                    <div class="close pro_left">
                        <div>
                            <p class="typewriter">อัครพล กิตติภัทฑ์</p>
                            <p style="font-size: 14px; margin: 0; padding: 0; font-weight: bold;" >สนใจตำแหน่งงาน (Web Developer, Programer, IT Support)</p>
                        </div>
                            
                        
                        <p>“ผมเป็นเด็กรุ่นใหม่ที่มีความหลงใหลในการเขียนโปรแกรมและการพัฒนาเว็บไซต์ มีทักษะความเชี่ยวชาญภาษา JavaScript และ Python  พร้อมที่จะเรียนรู้ และพัฒนาทักษะใหม่ๆเสมอ”</p>
                        <a class="button_more" href="#skill">คลิกเพื่อดูเพิ่มเติม</a>
                    </div>
                    <div class="close pro_right">
                        <div class="">
                                <div class="profile">
                                    <img src="/image/รูปโปรไฟล์.png" alt="รูปโปรไฟล์">
                                </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            
            <div class="title" id="skill">
                <hr>
                <div class="skill-container">
                    <p class="t_text">ความสามารถของผม</p>
                    <div class="s_content">
                        <% skills.forEach(function(item) { %>
                            <div class="close skill-item">
                            
                                    <img src="<%= item.img %>" alt="<%= item.img %>">
                            
                                    <div class="progress-bar-bg">
                                        <div class="progress-bar-fill" 
                                            style="--target-width: <%= item.skill %>%;">
                                        </div>
                                    
                                </div>
                                
                            </div>
                        <% }); %>
                    </div>
                    </div>

                <hr>
            </div>
            <div class="title" id="work">
                <p class="t_text">ผลงานต่างๆ</p>
                <div class="w_content">
                    <% works.forEach(w => { %>
                        <div class="close work_show" onclick="openModel('model-<%= w.id %>')">
                            <img src="<%= w.img %>" alt="<%= w.title %>">
                            <p><%= w.title %></p>
                        </div>
                        <div id="model-<%= w.id %>" class="model">
                            <div class="box-work">
                                <span onclick="closeModel('model-<%= w.id %>')" id="closemodel">&times;</span>
                                <div class="work_title">
                                    <p><%= w.title %></p>
                                </div>
                                <img src="<%= w.img %>" alt="<%= w.title %>">
                                <p>“<%= w.content %>”</p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="close box-download">
                <div class="download-b">
                    <a href="/file/Akkarapon-resume.pdf" download>⬇️ Resume ฉบับเต็ม</a>
                    <p>หากต้องการเรซูเม่ฉบับเต็ม</p>
                </div>
                
            </div>
            
        </div>
        <div class="social-icon">
            <div class="social">
                <img src="/image/mail.png" alt="">
            </div>
            <a class="link_social" href="https://line.me/ti/p/c1fc7g7wyf"><img class="im" src="/image/line.png" alt=""></a>
            <a class="link_social" href="https://www.facebook.com/akkarapon.kittipat"><img class="im" src="/image/facebook.png" alt=""></a>
            <a class="link_social" href="tel:0647507253"><img class="im" src="/image/phone.png" alt=""></a>
            <a class="link_social" href="mailto:akkarapon2ki@gmail.com" title="ส่งอีเมลหาเรา"><img class="im" src="/image/gmail.png"></a>
        </div>
        <img id="theme-toggle" src="/image/full-moon.png" alt="sun">
        
    </div>
</body>
<script>
    const socialBtn = document.querySelector('.social');
    const socialIconContainer = document.querySelector('.social-icon');
    const iconimg = socialBtn.querySelector("img");
    socialBtn.addEventListener('click', () => {
        socialIconContainer.classList.toggle('active');
        if (socialIconContainer.classList.contains('active')) {
            iconimg.src = "/image/X.png";
        }else{
            iconimg.src = "/image/mail.png";
        }
    });

    const theme = document.getElementById("theme-toggle");

    theme.addEventListener('click', () => {
        document.body.classList.toggle('dark');
        if(document.body.classList.contains('dark')) {
            theme.src = "/image/day-mode.png";
        }else{
            theme.src = "/image/full-moon.png"
        }
    })

    const topElement = document.querySelector(".con");
    const s_icon = document.querySelector(".social-icon");

    const observer = new IntersectionObserver((entries) => {
        if (!entries[0].isIntersecting) {
            s_icon.classList.add("show")
        } else {
            s_icon.classList.remove("show");
        }
    }, {
        threshold: [0]
    });
    observer.observe(topElement);

    const menus = document.querySelectorAll('.nav-item');
    const title = document.querySelectorAll('.title');
    window.onscroll = () => {
        title.forEach(section => {
            let top = window.scrollY;
            let offset = section.offsetTop - 200;
            let id = section.getAttribute('id');
            
            if (top >= offset) {
                menus.forEach(m => m.classList.remove('active'));
                document.querySelector('.nav-item[href*=' + id + ']').classList.add('active');
            }
        })
    }

    const myCallback = (entries) => {
        entries.forEach(entry => {
            var box = entry.target;

            if (entry.isIntersecting) {
                box.classList.add('show');
                console.log('1');
            }else{
                box.classList.remove('show');
                console.log('ลบ');
            }
        })
    }
    var options = {
        threshold: 0.3
    };

    var observer2 = new IntersectionObserver(myCallback, options);

    var boxes = document.querySelectorAll('.close');
    boxes.forEach(box => {
        observer2.observe(box)
    })

    const openModel = (modelID) => {
        const model = document.getElementById(modelID);
        if (model) {
            model.style.display = "flex";
            document.body.classList.add("no-scroll");
        }
    }
    const closeModel = (modelID) => {
        const model = document.getElementById(modelID);
        if (model) {
            model.style.display = "none";
            document.body.classList.remove("no-scroll");
        }
    }
    window.onclick = (event) => {
        if (event.target.classList.contains('model')) {
            event.target.style.display = 'none'
            document.body.classList.remove("no-scroll");
        }
    }
</script>
</html>